<!DOCTYPE html>

<html>
  
  <head>
    <title>404 - Metric-Imperial Converter - Jasna Misimovic</title>
    <meta name="description" content="A project for freeCodeCamp's Information Security and Quality Assurance certification">
    <link rel="shortcut icon" href="favicon.ico"> 
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="/public/style.css">    
  </head>
  
  
  <body>
    <div class="container fourohfour">
      <h1>404</h1>
      <p>
        Looks like that page doesn't exist. Sorry about that.
      </p>
      <p>
        Let's <a href="/" title="Go to home page.">go back to the home page</a>.
      </p>
    </div>
    
    <footer>
      <a href="http://jasnamisimovic.me" target="_blank">
        <img src="/public/img/logo.jpg" width="50">
        <h5>jasnamisimovic.me</h5>
      </a>
      <h6>Technologies: Node, Express, Helmet, Chai, Mocha, HTML, CSS</h6>
    </footer> 
    
  </body>
</html>